.story {
	margin-bottom: 32px;
}

.story-title {
	font-size: 40px;
	font-weight: 500;
}

.story-text {
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}

.result-buttons {
	display: flex;
	gap: 16px;
}

.result-screen,
.loading-screen,
.building-screen {
	display: none;
}

.result > .result-screen,
.loading > .loading-screen,
.building > .building-screen {
	display: block;
}
